@import 'variables';

$primary-color: #3498db;
$secondary-color: #2ecc71;
$border-radius: 5px;
$search-input-width: 250px;

.search-form {
  display: flex;           // Asegura que el input y el botón estén en la misma línea
  align-items: center;      // Alinea verticalmente el input y el botón
}

.form-control {
  width: $search-input-width;  // Asegura un ancho fijo para el input
  border-radius: $border-radius 0 0 $border-radius;  // Bordes redondeados a la izquierda
  margin-right: -1px;       // Elimina el pequeño espacio entre el input y el botón
}

.btn-outline-success {
  border-radius: 0 $border-radius $border-radius 0;  // Bordes redondeados a la derecha
  border-color: $primary-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: white;
  }

  i {
    font-size: 1.2rem;
  }
}

button.btn.btn-outline-success {
  margin-top: 0px;
  margin-left: 4px;
}

button.btn.btn-danger.ms-3 {
  margin: 0;
}